# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python packages / caches
pip-log.txt
*.egg-info/
dist/
build/
